.content-container {
    text-align: center;

    .bar-container {
        display: inline-flex;
        width: 80%;
        height: 80px;
        background: green;

        .note {
            width: 10px;
            flex-grow: 1;
        }
    }
}

html, body {
    height: 100%;
    background: #EFEFEF;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
html {
    margin-top: 80px;
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}

.topbar {
    height: 80px;
    background: #444;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    // @include shadow(1);
}

.card {
    padding: 60px 80px;
    background: white;
    @include shadow(1);

    .card-header {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 3em;
        margin-bottom: 50px;
    }
}


.choose-sound-container {
    text-align: center;
    width: 100%;

    .card.choose-sound {
        display: inline-block;
        padding: 50px 70px;
        max-width: 500px;
        text-align: left;

        input {
            display: block;
        }

        button {
            border: 1px solid #666;
            padding: 12px 30px;
            text-transform: uppercase;
            color: #222;
            background: none;
            transition: background 0.15s;
            border-radius: 2px;

            &:hover {
                background: #DDD;
            }
        }
    }
}


//
// .graph {
//     display: flex;
//     align-items: flex-end;
//
//     .bar {
//         background: green;
//     }
// }
